/* Byronpack v3.0.0.1 CSS Bundle*/
/* File: ./src/assets/s_root.byronignore.css */
html, body {
    padding: 0;
    margin: 0;
    font-family: liberationmono;
}

@font-face {
    font-family: liberationmono;
    src: url('/assets/liberationmono-regular.ttf');
}

.gpos-button {
    border-color: #3882d2;
    border-radius: 4px;
    border: 1px solid;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    color: #3882d2;
    
    background-color: transparent;
    & a:link {
        color: #3882d2;
        text-decoration: none;
    }
    & a:visited {
        text-decoration: none;
        color: #3882d2;
    }
}
.gpos-button:hover {
    background-color: #3882d2;
    border-color: #3882d2;
    color: white;
    text-decoration: underline;
    & a:visited {
        text-decoration: underline;
        color: white;
    }
}
/* File: ./src/assets/s_getrave.byronignore.css */
.getrave-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #1c1c20;
    color: white;
}

.mainpage {
    padding-top: 50px;
}

.getrave-binaries {
    padding: 32px;
    background-color: #0d1117;
    color: white;
}
.getrave-source {
    padding: 32px;
    background-color: #1c1c20;
    color: white;
}
/* File: ./src/assets/s_codehighlight.byronignore.css */
.highlight-import {
    color: #ff7b72;
}
.highlight-type {
    color: #ff7b72;
}
.highlight-string {
    color: #a5d6ff;
}
